/*
  - - - - - - - - - - - - - - - - - - - - -
                                   #
                                   # 
    ###    ###  ###  ###  ###   ####  
   #   #   #    #    #    #    #   #  
   #   #   #    #    #    #    #   #  
    ####   #    #    #    #     ###   
   #   #   
    ###

  - - - - - - - - - - - - - - - - - - - - - 
  F L U I D   C S S   G R I D   S Y S T E M
  - - - - - - - - - - - - - - - - - - - - -
  
  Version 0.5
  HATSUMATSU 2014

  - - - - - - - - - - - - - - - - - - - - -

  hatsumatsu.de
  
  - - - - - - - - - - - - - - - - - - - - -
*/

// CONFIG
@breakpoint-fluid-upper: 72em;
@breakpoint-fluid-lower: 48em;

@gutter: 1.5%;


// MIXINS
@col: ( 100% / 12 ) - @gutter; 

.col( @w ) {
  width: ( @col * @w ) + ( @gutter * ( @w - 1 ) );
}

.indent( @i ) {
  margin-left: ( @col * @i ) + ( @gutter * @i ) + ( @gutter / 2 );
}


// SMALL GRID
.grid-container {
  clear: left;
  width: auto;
  max-width: @breakpoint-fluid-upper;

  margin: 0 auto;
  padding: 0;
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12 {
  clear: left;
  display: block;
  width: auto;
  margin: 0 ( @gutter / 2 ) @gutter;
}
  
[class*='grid-smaller-'] {
  float: left;
  clear: none;
}

.grid-smaller-1 {
  .col( 3 );
}

.grid-smaller-2 {
  .col( 6 );
}

.grid-smaller-3 {
  .col( 9 );
}

.grid-smaller-4 {
  .col( 12 );
}

.indent-smaller-1 {
  .indent( 3 );
}

.indent-smaller-2 {
  .indent( 6 );
}

.indent-smaller-3 {
  .indent( 9 );
}

.grid-smaller-start {
  clear: left;
}

.hide-smaller {
  display: none;
}  


// LARGER GRID
@media screen and ( min-width: @breakpoint-fluid-lower ) {
  .indent( @i ) {
    margin-left: ( @col * @i ) + ( @gutter * @i );
  }

  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6,
  .grid-7,
  .grid-8,
  .grid-9,
  .grid-10,
  .grid-11,
  .grid-12 {
    float: left;
    clear: none;
    margin: 0 ( @gutter / 2 ) @gutter;
  }

  .grid-1 {
    .col( 1 );
  }
  .grid-2 {
    .col( 2 );
  }
  .grid-3 {
    .col( 3 );
  }
  .grid-4 {
    .col( 4 );
  }
  .grid-5 {
    .col( 5 );
  }
  .grid-6 {
    .col( 6 );
  }
  .grid-7 {
    .col( 7 );
  }
  .grid-8 {
    .col( 8 );
  }
  .grid-9 {
    .col( 9 );
  }
  .grid-10 {
    .col( 10 );
  }
  .grid-11 {
    .col( 11 );
  }
  .grid-12 {
    .col( 12 );
  }

  .indent-1 {
    .indent( 1 );
  }
  .indent-2 {
    .indent( 2 );
  }
  .indent-3 {
    .indent( 3 );
  }
  .indent-4 {
    .indent( 4 );
  }
  .indent-5 {
    .indent( 5 );
  }
  .indent-6 {
    .indent( 6 );
  }
  .indent-7 {
    .indent( 7 );
  }
  .indent-8 {
    .indent( 8 );
  }
  .indent-9 {
    .indent( 9 );
  }
  .indent-10 {
    .indent( 10 );
  }
  .indent-11 {
    .indent( 11 );
  }

  .grid-smaller-start {
    clear: none;
  }

  .grid-start {
    clear: left;
  }

  .hide-larger {
    display: none;
  }

  .hide-smaller {
    display: block;
  }
}