/*
  - - - - - - - - - - - - - - - - - - - - -
                                   #
                                   # 
    ###    ###  ###  ###  ###   ####  
   #   #   #    #    #    #    #   #  
   #   #   #    #    #    #    #   #  
    ####   #    #    #    #     ###   
   #   #   
    ###

  - - - - - - - - - - - - - - - - - - - - - 
  F L U I D   C S S   G R I D   S Y S T E M
  - - - - - - - - - - - - - - - - - - - - -
  
  Version 0.5
  HATSUMATSU 2014

  - - - - - - - - - - - - - - - - - - - - -

  hatsumatsu.de
  
  - - - - - - - - - - - - - - - - - - - - -
*/
.grid-container {
  clear: left;
  width: auto;
  max-width: 72em;
  margin: 0 auto;
  padding: 0;
}
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12 {
  clear: left;
  display: block;
  width: auto;
  margin: 0 0.75% 1.5%;
}
[class*='grid-smaller-'] {
  float: left;
  clear: none;
}
.grid-smaller-1 {
  width: 23.5%;
}
.grid-smaller-2 {
  width: 48.5%;
}
.grid-smaller-3 {
  width: 73.5%;
}
.grid-smaller-4 {
  width: 98.5%;
}
.indent-smaller-1 {
  margin-left: 25.75%;
}
.indent-smaller-2 {
  margin-left: 50.75%;
}
.indent-smaller-3 {
  margin-left: 75.75%;
}
.grid-smaller-start {
  clear: left;
}
.hide-smaller {
  display: none;
}
@media screen and (min-width: 48em) {
  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6,
  .grid-7,
  .grid-8,
  .grid-9,
  .grid-10,
  .grid-11,
  .grid-12 {
    float: left;
    clear: none;
    margin: 0 0.75% 1.5%;
  }
  .grid-1 {
    width: 6.833333333333334%;
  }
  .grid-2 {
    width: 15.166666666666668%;
  }
  .grid-3 {
    width: 23.5%;
  }
  .grid-4 {
    width: 31.833333333333336%;
  }
  .grid-5 {
    width: 40.16666666666667%;
  }
  .grid-6 {
    width: 48.5%;
  }
  .grid-7 {
    width: 56.833333333333336%;
  }
  .grid-8 {
    width: 65.16666666666667%;
  }
  .grid-9 {
    width: 73.5%;
  }
  .grid-10 {
    width: 81.83333333333334%;
  }
  .grid-11 {
    width: 90.16666666666667%;
  }
  .grid-12 {
    width: 98.5%;
  }
  .indent-1 {
    margin-left: 8.333333333333334%;
  }
  .indent-2 {
    margin-left: 16.666666666666668%;
  }
  .indent-3 {
    margin-left: 25%;
  }
  .indent-4 {
    margin-left: 33.333333333333336%;
  }
  .indent-5 {
    margin-left: 41.66666666666667%;
  }
  .indent-6 {
    margin-left: 50%;
  }
  .indent-7 {
    margin-left: 58.333333333333336%;
  }
  .indent-8 {
    margin-left: 66.66666666666667%;
  }
  .indent-9 {
    margin-left: 75%;
  }
  .indent-10 {
    margin-left: 83.33333333333334%;
  }
  .indent-11 {
    margin-left: 91.66666666666667%;
  }
  .grid-smaller-start {
    clear: none;
  }
  .grid-start {
    clear: left;
  }
  .hide-larger {
    display: none;
  }
  .hide-smaller {
    display: block;
  }
}
